@font-face {
    font-family: pixel;
    src: url(pixel.ttf);
    size-adjust: 100%;
}
body {
    font-family: pixel;
    background-color: #14171a;
    margin: 25px;
}

a:link {
    color: #8fba7d; text-decoration: none;
}
a:visited {
    color: #64a36d; text-decoration: none;
}
a:hover {
    color: #c0db94; text-decoration: none;
}
a:active {
    color: #e8ffb2; text-decoration: none;
}

hr {
    margin-top: 24px;
    border: 1px solid #fffff280;
}

p, td {
    color:#c8d8c7;
    margin-top: 8px;
    margin-bottom: 8px;
}
td {
    vertical-align: top;
    padding-right: 24px;
}
h1, h2, h3, h4, h5, h6 {
    color:#fffff2;
    margin-top: 8px;
    margin-bottom: 16px;
}
h1 {
    text-decoration: underline;
}

.title {
    overflow: hidden;
    background-color: #00000D80;
    float: center;
    text-align: center;
    padding: 16px;
    margin-bottom: 24px;
}

/*
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #00000000; 
}

::-webkit-scrollbar-thumb {
    background: #64a36d; 
}

::-webkit-scrollbar-thumb:hover {
    background: #8fba7d; 
}
*/