.char {
    display: flex;
    flex-wrap: wrap;
}
.ref {
    padding: 0 8px;
}
.ref img {
    height: 40vw;
}
.ref .info {
    flex: 100%;
}
.gallery img {
    width: 100%;
    padding-top: 8px;
}

@media screen and (width >= 720px) {
    .char {
        flex-wrap: nowrap;
    }
    .gallery {
        width: 480px;
    }
    .ref img {
        height: 480px;
    }
    .info {
        max-width: 30%;
    }
}