@media screen and (width >= 720px) {
    .ref1, .ref2 {
        display: grid;
        column-gap: 2.5%;
        p {
            width: 100%;
        }
    }
    .ref1 {grid-template-columns: 30% 30%;}
    .ref2 {grid-template-columns: 65% 30%;}

    .pics {
        width: 30%;
    }
}

.ref1 {
    img {
        width: 100%;
    }
}
.ref2 {
    img {
        width: 47.5%;
    }
}
.pics {
    img {
        width: 100%;
        padding-top: 8px;
    }
}