.release {
    display: flex;
    flex-wrap: wrap;
}
.cover {
    padding: 0 8px;
}
.cover img {
    width: 100%;
}
.cover .info {
    flex: 100%;
}

@media screen and (width > 768px) {
    .release {
        flex-wrap: nowrap;
    }
    .cover {
        width: 480px;
    }
}