@font-face {
    font-family: "DepartureMono";
    src: url(DepartureMono-Regular.otf);
}

body {
    font-family: "DepartureMono";
    background-color: #14171a;
    margin: 24px;
}

a {
    text-decoration: none;
}
a:link {
    color: #8fba7d;
}
a:visited {
    color: #64a36d;
}
a:hover {
    color: #c0db94;
}
a:active {
    color: #e8ffb2;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
}

p {
    color:#c8d8c7;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
    color:#fffff2;
    margin-top: 8px;
    margin-bottom: 16px;
}
h1, h2 {
    text-decoration: underline;
}

#nav-placeholder {
    padding-bottom: 32px;
}

@media screen and (width >= 960px) {
    p {
        width: 960px;
    }
}