@media screen and (width >= 720px) {
    .ref {
        display: grid;
        grid-template-columns: 65% 30%;
        column-gap: 2.5%;
    }
}

@media screen and (width >= 530px) {
    .pics {
        width: 480px;
    }
}